/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f7; /* Fondo limpio y claro */
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
    text-transform: uppercase;
}

/* Encabezado */
h1 {
    font-size: 2.5em;
    margin-top: 20px;
    color: #2c3e50; /* Gris oscuro elegante */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Contenedor del formulario */
.form-container {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    margin: 20px auto;
    width: 90%;
    max-width: 450px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: left;
    display: flex;
    flex-wrap: wrap; /* Permite que los botones fluyan */
    justify-content: space-between;
}

/* Estilo para los campos de entrada */
input[type="number"] {
    padding: 8px;
    margin: 5px 0 10px 0;
    border: 1px solid #3498db; /* Azul profesional */
    border-radius: 4px;
    width: 98%;
    box-sizing: border-box;
    font-size: 1em;
    background-color: #f9f9f9;
}

input[type="number"]:focus {
    outline: none;
    border-color: #2980b9; /* Azul oscuro */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

/* Estilos para etiquetas */
.form-container label {
    font-size: 0.9em;
    margin-bottom: 3px;
    display: block;
    width: 100%;
}

/* Botones */
button {
    background-color: #4a90e2; /* Azul principal */
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 48%; /* Para alinear con el botón de limpiar */
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #357bd8;
}

.action-button-secondary {
    background-color: #95a5a6; /* Gris para limpiar */
}
.action-button-secondary:hover {
    background-color: #7f8c8d;
}

/* Resultado */
#result {
    font-size: 1.2em;
    margin-top: 20px;
    font-weight: bold;
    color: #e67e22; /* Naranja para el resultado LDM */
}

/* Contenedor del camión */
.truck {
    position: relative;
    width: 1360px;
    height: 244px;
    margin: 20px auto;
    border: 3px solid #333;
    background-color: #dbe4e6; /* Fondo claro del camión */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: visible; /* Asegura que el contenido no se corte si el contenedor es estrecho */
}

.pallet {
    position: absolute;
    background-color: #3498db; /* Azul para palets */
    border: 2px solid #2c3e50; 
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    animation: fadeIn 0.4s ease-in-out;
    cursor: grab; /* Permite arrastrar */
    transition: all 0.2s ease;
}
.pallet:active { cursor: grabbing; z-index: 10; }
